<div style="padding: 2rem 0 0 1rem;">
    Choose view animation:<br/>
    <div class="checkboxCtn" style="padding-left: 0.4rem; float: left;">
        <div class="checkbox" style="margin-right: 1.5rem;">
            <img class="immit" data-anim="overlay" src="img/checked.png" />
            <label>Overlay</label>
        </div>
        <div class="checkbox" style="">
            <img class="immit" data-anim="slide" src="img/unchecked.png" />
            <label>Slide</label>
        </div>
    </div>
</div>